body{


  font-family: Arial, Helvetica, sans-serif;
}

h1{ /*titre puissance */

text-align: center;
color: blue;

}
#numero{ /*couleur du numero 4*/

  color: red;
}


.vide{ /* couleur des pions vides*/

color: cornflowerblue;
}

#plateau{/*positionnement du plateau */

width: 170px;
padding: 20px;
margin-left: auto;
margin-right: auto;

}

form{/*Formulaire*/

  width: 300px;
  margin-left: auto;
  margin-right: auto;

}

span {/*taille de chaque pions*/

font-size: 30px;

}

.pionrouge,#player2{/*pions du joueurs 2*/

color: red;
font-weight: 700;

}
.win1{/*phrase victoire j1*/
text-align: center;
  color: blue;


}

.win2{/*phrase victoire j2*/

  text-align: center;

  color: red;

}

#player1,#player2{/*position de la phrase qui indique le joueur qui doit jouer*/
text-align: center;

}
#tour{text-align: center;

  color: brown;
    
  font-weight: 700;
}/*position phrase qui indique le nb tour */

.pionbleu,#player1{/*pion joueur 1*/
    color: blue;
    font-weight: 700;

    }

  #colone{

    text-align: center;
  }

  #error{
text-align: center;

    color: brown;
  }